@use "../../scss/abstracts" as *;

button {
  background-color: transparent;
  color: white;
}

/////////////////

.user {
  border-radius: 0.9375rem;
  background: linear-gradient(
    180deg,
    rgba(#fff, 0) 0%,
    rgba(#fff, 0) 10%,
    $clr-primary-600 10%,
    $clr-primary-600 100%
  );

  &__info {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 2rem;
    background-color: $clr-card-user;

    border-radius: 0.9375rem;
  }

  &__img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    outline: 0.1875rem solid white;
  }

  &__name {
    margin-top: 0.25rem;
  }
}

.input-container {
  display: flex;
  gap: 1.3rem;
  justify-content: space-evenly;
  padding-block: 1.5rem;
  border: none;

  &__label {
    cursor: pointer;
  }

  &__input:focus-visible + &__label {
    outline: 2px solid white;
    outline-offset: 0.1875rem;
  }
}
