@use "../abstracts/" as *;

@font-face {
  font: {
    family: "Rubik";
    weight: 300 500;
  }
  src: url("/assets/fonts/Rubik-VariableFont_wght.ttf");
}

body {
  font: 300 1.125rem "Rubik", sans-serif;
  color: white;
}

.user {
  &__desc {
    font-size: 0.9375rem;
    font-weight: 400;
    opacity: 0.82;
  }

  &__name {
    font-size: 1.5rem;
  }
}

.stat {
  &__title {
    font-weight: 500;
  }

  &__time-current {
    font-size: 2rem;
  }

  &__time-previous {
    font-size: 0.9375rem;
    font-weight: 400;
    text-align: right;
  }
}

.input-container {
  &__label {
    font-weight: 400;
    text-transform: capitalize;

    &:hover {
      color: white;
    }
  }

  &__input:not(:checked) + &__label {
    color: $clr-primary-200;
  }
}
