@use "../abstracts/" as *;

@font-face {
  font: {
    family: "Rubik";
    weight: 300 500;
  }
  src: url("/assets/fonts/Rubik-VariableFont_wght.ttf");
}

body {
  font: 300 1.125rem "Rubik", sans-serif;
}
